body::-webkit-scrollbar {
  display: none;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85vh;
  width: 100%;
}

.cardContainer {
  display: flex;
}

.card {
  cursor: pointer;
  margin: 1rem;
  height: 80%;
  width: 60%;
}

.card-title {
  text-align: center;
}
